.ant-carousel .slick-dots li button {
}
.Carousel {
  width: 100%;
  height: 500px;
}
.ant-carousel {
  width: 100%;
  height: 500px;
}
.carousel-img {
  width: 100%;
  height: 500px;
}
.carousel-img img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
