*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#list_type_job .menu_list .item_menu_list {
  list-style: none;
  padding-top: 0;

  font-weight: 400;
  padding: 0 16px 12px 0;
  font-size: 16px;
}
#list_type_job .menu_list .item_menu_list a {
  color: #74767e;
  font-family: Macan;
}
#list_type_job .menu_list .item_menu_list a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1160px) {
  #list_type_job .menu_list {
    display: block;
    width: 350px;
  }
}
